body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
  width: 100%;
}

/* .fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-out;
}
.fade-exit {
  opacity: 1;
  padding: 15px;
}
.fade-exit-active {
  opacity: 0;
  transition: all 500ms ease-out;
} */